@import url('https://cdn.jsdelivr.net/gh/rastikerdar/vazirmatn@v33.003/Vazirmatn-font-face.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Vazirmatn', sans-serif;
}

body {
  font-family: 'Vazirmatn', sans-serif;
  direction: rtl;
}

#app {
  width: 100%;
  min-height: 100vh;
}
